.container {
  text-align: center;
  width: 400px;
  .form-group {
    .btn {
      height: 28px;
      padding: 0 10px;
      margin: 2px 5px;
    }
  }
  .todo-container {
    font-size: 14px;

    .item-container:first-child {
      border-top: 1px solid gray;
    }
  }
}
